/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.row {
  display: flex;
  flex-wrap: wrap;
}

.row.hg-8 {
  row-gap: 8px;
}

.row.hg-16 {
  row-gap: 16px;
}

.row.hg-24 {
  row-gap: 24px;
}

.row.hg-32 {
  row-gap: 32px;
}

.row.hg-40 {
  row-gap: 40px;
}

.row.hg-48 {
  row-gap: 48px;
}

.row.vg-8 > [class*='col-'] {
  padding-left: 8px;
  padding-right: 8px;
}

.row.vg-16 > [class*='col-'] {
  padding-left: 16px;
  padding-right: 16px;
}

.row.vg-24 > [class*='col-'] {
  padding-left: 24px;
  padding-right: 24px;
}

.row.vg-32 > [class*='col-'] {
  padding-left: 32px;
  padding-right: 32px;
}

.row.vg-40 > [class*='col-'] {
  padding-left: 40px;
  padding-right: 40px;
}

.row.vg-48 > [class*='col-'] {
  padding-left: 48px;
  padding-right: 48px;
}

.col-1 {
  width: 8.333333333333333%;
}

.col-2 {
  width: 16.66666666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333333333333%;
}

.col-5 {
  width: 41.66666666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333333333333%;
}

.col-8 {
  width: 66.66666666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333333333333%;
}

.col-11 {
  width: 91.66666666666667%;
}

.col-12 {
  width: 100%;
}

@media screen and (min-width: 36rem) {
  .row.hg-sm-0 {
    row-gap: 0;
  }

  .row.hg-sm-8 {
    row-gap: 8px;
  }

  .row.hg-sm-16 {
    row-gap: 16px;
  }

  .row.hg-sm-24 {
    row-gap: 24px;
  }

  .row.hg-sm-32 {
    row-gap: 32px;
  }

  .row.hg-sm-40 {
    row-gap: 40px;
  }

  .row.hg-sm-48 {
    row-gap: 48px;
  }

  .row.vg-sm-0 > [class*='col-'] {
    padding-left: 0;
    padding-right: 0;
  }

  .row.vg-sm-8 > [class*='col-'] {
    padding-left: 8px;
    padding-right: 8px;
  }

  .row.vg-sm-16 > [class*='col-'] {
    padding-left: 16px;
    padding-right: 16px;
  }

  .row.vg-sm-24 > [class*='col-'] {
    padding-left: 24px;
    padding-right: 24px;
  }

  .row.vg-sm-32 > [class*='col-'] {
    padding-left: 32px;
    padding-right: 32px;
  }

  .row.vg-sm-40 > [class*='col-'] {
    padding-left: 40px;
    padding-right: 40px;
  }

  .row.vg-sm-48 > [class*='col-'] {
    padding-left: 48px;
    padding-right: 48px;
  }

  .col-sm-1 {
    width: 8.333333333333333%;
  }

  .col-sm-2 {
    width: 16.66666666666667%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.33333333333333%;
  }

  .col-sm-5 {
    width: 41.66666666666667%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.33333333333333%;
  }

  .col-sm-8 {
    width: 66.66666666666667%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83.33333333333333%;
  }

  .col-sm-11 {
    width: 91.66666666666667%;
  }

  .col-sm-12 {
    width: 100%;
  }
}

@media screen and (min-width: 48rem) {
  .row.hg-md-0 {
    row-gap: 0;
  }

  .row.hg-md-8 {
    row-gap: 8px;
  }

  .row.hg-md-16 {
    row-gap: 16px;
  }

  .row.hg-md-24 {
    row-gap: 24px;
  }

  .row.hg-md-32 {
    row-gap: 32px;
  }

  .row.hg-md-40 {
    row-gap: 40px;
  }

  .row.hg-md-48 {
    row-gap: 48px;
  }

  .row.vg-md-0 > [class*='col-'] {
    padding-left: 0;
    padding-right: 0;
  }

  .row.vg-md-8 > [class*='col-'] {
    padding-left: 8px;
    padding-right: 8px;
  }

  .row.vg-md-16 > [class*='col-'] {
    padding-left: 16px;
    padding-right: 16px;
  }

  .row.vg-md-24 > [class*='col-'] {
    padding-left: 24px;
    padding-right: 24px;
  }

  .row.vg-md-32 > [class*='col-'] {
    padding-left: 32px;
    padding-right: 32px;
  }

  .row.vg-md-40 > [class*='col-'] {
    padding-left: 40px;
    padding-right: 40px;
  }

  .row.vg-md-48 > [class*='col-'] {
    padding-left: 48px;
    padding-right: 48px;
  }

  .col-md-1 {
    width: 8.333333333333333%;
  }

  .col-md-2 {
    width: 16.66666666666667%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.33333333333333%;
  }

  .col-md-5 {
    width: 41.66666666666667%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33333333333333%;
  }

  .col-md-8 {
    width: 66.66666666666667%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.33333333333333%;
  }

  .col-md-11 {
    width: 91.66666666666667%;
  }

  .col-md-12 {
    width: 100%;
  }
}

@media screen and (min-width: 62rem) {
  .row.hg-lg-0 {
    row-gap: 0;
  }

  .row.hg-lg-8 {
    row-gap: 8px;
  }

  .row.hg-lg-16 {
    row-gap: 16px;
  }

  .row.hg-lg-24 {
    row-gap: 24px;
  }

  .row.hg-lg-32 {
    row-gap: 32px;
  }

  .row.hg-lg-40 {
    row-gap: 40px;
  }

  .row.hg-lg-48 {
    row-gap: 48px;
  }

  .row.vg-lg-0 > [class*='col-'] {
    padding-left: 0;
    padding-right: 0;
  }

  .row.vg-lg-8 > [class*='col-'] {
    padding-left: 8px;
    padding-right: 8px;
  }

  .row.vg-lg-16 > [class*='col-'] {
    padding-left: 16px;
    padding-right: 16px;
  }

  .row.vg-lg-24 > [class*='col-'] {
    padding-left: 24px;
    padding-right: 24px;
  }

  .row.vg-lg-32 > [class*='col-'] {
    padding-left: 32px;
    padding-right: 32px;
  }

  .row.vg-lg-40 > [class*='col-'] {
    padding-left: 40px;
    padding-right: 40px;
  }

  .row.vg-lg-48 > [class*='col-'] {
    padding-left: 48px;
    padding-right: 48px;
  }

  .col-lg-1 {
    width: 8.333333333333333%;
  }

  .col-lg-2 {
    width: 16.66666666666667%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.33333333333333%;
  }

  .col-lg-5 {
    width: 41.66666666666667%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.33333333333333%;
  }

  .col-lg-8 {
    width: 66.66666666666667%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83.33333333333333%;
  }

  .col-lg-11 {
    width: 91.66666666666667%;
  }

  .col-lg-12 {
    width: 100%;
  }
}

@media screen and (min-width: 75rem) {
  .row.hg-xl-0 {
    row-gap: 0;
  }

  .row.hg-xl-8 {
    row-gap: 8px;
  }

  .row.hg-xl-16 {
    row-gap: 16px;
  }

  .row.hg-xl-24 {
    row-gap: 24px;
  }

  .row.hg-xl-32 {
    row-gap: 32px;
  }

  .row.hg-xl-40 {
    row-gap: 40px;
  }

  .row.hg-xl-48 {
    row-gap: 48px;
  }

  .row.vg-xl-0 > [class*='col-'] {
    padding-left: 0;
    padding-right: 0;
  }

  .row.vg-xl-8 > [class*='col-'] {
    padding-left: 8px;
    padding-right: 8px;
  }

  .row.vg-xl-16 > [class*='col-'] {
    padding-left: 16px;
    padding-right: 16px;
  }

  .row.vg-xl-24 > [class*='col-'] {
    padding-left: 24px;
    padding-right: 24px;
  }

  .row.vg-xl-32 > [class*='col-'] {
    padding-left: 32px;
    padding-right: 32px;
  }

  .row.vg-xl-40 > [class*='col-'] {
    padding-left: 40px;
    padding-right: 40px;
  }

  .row.vg-xl-48 > [class*='col-'] {
    padding-left: 48px;
    padding-right: 48px;
  }

  .col-xl-1 {
    width: 8.333333333333333%;
  }

  .col-xl-2 {
    width: 16.66666666666667%;
  }

  .col-xl-3 {
    width: 25%;
  }

  .col-xl-4 {
    width: 33.33333333333333%;
  }

  .col-xl-5 {
    width: 41.66666666666667%;
  }

  .col-xl-6 {
    width: 50%;
  }

  .col-xl-7 {
    width: 58.33333333333333%;
  }

  .col-xl-8 {
    width: 66.66666666666667%;
  }

  .col-xl-9 {
    width: 75%;
  }

  .col-xl-10 {
    width: 83.33333333333333%;
  }

  .col-xl-11 {
    width: 91.66666666666667%;
  }

  .col-xl-12 {
    width: 100%;
  }
}
