/* ****** Grid ****** */
.row {
  display: flex;
  flex-wrap: wrap;
}

.row.horizontal-gutter-8 {
  row-gap: 8px;
}

.row.horizontal-gutter-16 {
  row-gap: 16px;
}

.row.horizontal-gutter-24 {
  row-gap: 24px;
}

.row.horizontal-gutter-32 {
  row-gap: 32px;
}

.row.horizontal-gutter-40 {
  row-gap: 40px;
}

.row.horizontal-gutter-48 {
  row-gap: 48px;
}

.row.vertical-gutter-8 [class*='col-'] {
  padding-left: 8px;
  padding-right: 8px;
}

.row.vertical-gutter-16 [class*='col-'] {
  padding-left: 16px;
  padding-right: 16px;
}

.row.vertical-gutter-24 [class*='col-'] {
  padding-left: 24px;
  padding-right: 24px;
}

.row.vertical-gutter-32 [class*='col-'] {
  padding-left: 32px;
  padding-right: 32px;
}

.row.vertical-gutter-40 [class*='col-'] {
  padding-left: 40px;
  padding-right: 40px;
}

.row.vertical-gutter-48 [class*='col-'] {
  padding-left: 48px;
  padding-right: 48px;
}

.col-1 {
  width: 8.333333333333333%;
}

.col-2 {
  width: 16.66666666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333333333333%;
}

.col-5 {
  width: 41.66666666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333333333333%;
}

.col-8 {
  width: 66.66666666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333333333333%;
}

.col-11 {
  width: 91.66666666666667%;
}

.col-12 {
  width: 100%;
}

@media screen and (min-width: 36rem) {
  .col-sm-1 {
    width: 8.333333333333333%;
  }

  .col-sm-2 {
    width: 16.66666666666667%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.33333333333333%;
  }

  .col-sm-5 {
    width: 41.66666666666667%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.33333333333333%;
  }

  .col-sm-8 {
    width: 66.66666666666667%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83.33333333333333%;
  }

  .col-sm-11 {
    width: 91.66666666666667%;
  }

  .col-sm-12 {
    width: 100%;
  }
}

@media screen and (min-width: 48rem) {
  .col-md-1 {
    width: 8.333333333333333%;
  }

  .col-md-2 {
    width: 16.66666666666667%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.33333333333333%;
  }

  .col-md-5 {
    width: 41.66666666666667%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33333333333333%;
  }

  .col-md-8 {
    width: 66.66666666666667%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.33333333333333%;
  }

  .col-md-11 {
    width: 91.66666666666667%;
  }

  .col-md-12 {
    width: 100%;
  }
}

@media screen and (min-width: 62rem) {
  .col-lg-1 {
    width: 8.333333333333333%;
  }

  .col-lg-2 {
    width: 16.66666666666667%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.33333333333333%;
  }

  .col-lg-5 {
    width: 41.66666666666667%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.33333333333333%;
  }

  .col-lg-8 {
    width: 66.66666666666667%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83.33333333333333%;
  }

  .col-lg-11 {
    width: 91.66666666666667%;
  }

  .col-lg-12 {
    width: 100%;
  }
}

@media screen and (min-width: 75rem) {
  .col-xl-1 {
    width: 8.333333333333333%;
  }

  .col-xl-2 {
    width: 16.66666666666667%;
  }

  .col-xl-3 {
    width: 25%;
  }

  .col-xl-4 {
    width: 33.33333333333333%;
  }

  .col-xl-5 {
    width: 41.66666666666667%;
  }

  .col-xl-6 {
    width: 50%;
  }

  .col-xl-7 {
    width: 58.33333333333333%;
  }

  .col-xl-8 {
    width: 66.66666666666667%;
  }

  .col-xl-9 {
    width: 75%;
  }

  .col-xl-10 {
    width: 83.33333333333333%;
  }

  .col-xl-11 {
    width: 91.66666666666667%;
  }

  .col-xl-12 {
    width: 100%;
  }
}
